/* This is a CSS comment */
p {
    color: red;
}

/* this is an ID */
#canvas {
    border:1px solid #000000;
}
/* this is a class... */
.container{
    margin: 0 auto;
    width: 2000px;
    height: 1000px;
}
.blueblock {
    position: absolute;
    top: 45px;
    float: left;
    background-color: #0000FF;
    width: 700px;
    height: 500px;
}

.redstripe {
    float: right;
    height: 50px;
    width: 2000px;
    background-color: #db0c40
}

.whitestripe {
    float: right;
    height: 50px;
    width: 2000px;
    background-color: #FFFFFF
}